body{
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.navbar{

    width: 100%;
}

.card-img-top{
    height: 15rem;
}

.card-deck{

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

#deck2{
    padding-bottom:50px;
}
